.clearfix:after, .hook-theme-form-example .form-elements:after, .hook-theme-form-example .form-elements .row .three-in-row:after, .hook-theme-form-example .form-elements .row .two-in-row:after {
  content: " ";
  display: block;
  clear: both; }

.hook-theme-form-example {
  box-shadow: 16px 17px 10px -16px;
  border-radius: 21px;
  padding: 23px; }
  .hook-theme-form-example .description {
    margin-bottom: 15px; }
  .hook-theme-form-example .form-elements {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc; }
    .hook-theme-form-example .form-elements > .left {
      width: 48%;
      float: left;
      margin-right: 4%; }
    .hook-theme-form-example .form-elements > .right {
      width: 48%;
      float: left; }
    .hook-theme-form-example .form-elements .row {
      margin-bottom: 10px; }
      .hook-theme-form-example .form-elements .row > .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.2;
        color: #096298; }
      .hook-theme-form-example .form-elements .row .elements .form-item-tour-length {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-tour-length:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-sun.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-adults {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-adults:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-adults.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-kids {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-kids:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-kids.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-infants {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-infants:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-infants.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-arrival-date {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-arrival-date:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-days.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-departure-date {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-departure-date:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-days.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-arrival-city {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-arrival-city:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-plane-down.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-departure-city {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-departure-city:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-plane-up.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-car {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-car:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-car.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-hotel {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-hotel:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-hotels.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-my-interests {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-my-interests:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-interests.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-name {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-name:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-name.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-email {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-email:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-name.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-country {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-country:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-place.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-phone {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-phone:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-phone.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-comment {
        position: relative;
        box-sizing: border-box;
        padding-left: 32px; }
        .hook-theme-form-example .form-elements .row .elements .form-item-comment:before {
          content: '';
          width: 26px;
          height: 26px;
          display: block;
          background: url("../../images/icons/form-comments.svg") no-repeat center center;
          background-size: cover;
          position: absolute;
          bottom: 2px;
          left: 0; }
      .hook-theme-form-example .form-elements .row .elements .form-item-comment:before {
        top: 0; }
      .hook-theme-form-example .form-elements .row .three-in-row .form-item {
        width: 33%;
        float: left; }
        .hook-theme-form-example .form-elements .row .three-in-row .form-item input {
          width: calc(100% - 10px); }
      .hook-theme-form-example .form-elements .row .two-in-row .form-item {
        width: 50%;
        float: left; }
        .hook-theme-form-example .form-elements .row .two-in-row .form-item input {
          width: calc(100% - 10px); }
  .hook-theme-form-example .buttons {
    display: table;
    margin: 0 auto; }
    .hook-theme-form-example .buttons .form-submit {
      font-size: 18px;
      padding: 15px 50px;
      border-radius: 0; }

/*# sourceMappingURL=maps/styles.css.map */
